@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  a:hover {
    @apply cursor-custom-pointer;
    @apply text-secondary;
  }
}

@font-face {
  font-family: 'Garet-Book';
  src: url('assets/fonts/Garet-Book.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet-Heavy';
  src: url('assets/fonts/Garet-Heavy.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
